@model CAAP2.Models.Order

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Eliminar Orden";
}

<h2>¿Estás seguro de que deseas eliminar esta orden?</h2>

<div>
    <h4>Detalles de la orden</h4>
    <dl class="row">
        <dt class="col-sm-2">Detalle</dt>
        <dd class="col-sm-10">@Model.OrderDetail</dd>

        <dt class="col-sm-2">Monto</dt>
        <dd class="col-sm-10">@Model.TotalAmount</dd>

        <dt class="col-sm-2">Prioridad</dt>
        <dd class="col-sm-10">@Model.Priority</dd>

        <dt class="col-sm-2">Tipo</dt>
        <dd class="col-sm-10">@Model.OrderType?.Name</dd>

        <dt class="col-sm-2">Usuario</dt>
        <dd class="col-sm-10">@Model.User?.FullName</dd>
    </dl>

    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="OrderID" value="@Model.OrderID" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="/Order/Index/" class="btn btn-secondary">Cancelar</a>
    </form>





</div>
